/* here you can put your own css to customize and override the theme */

.breadcrumbs  {
    list-style:  none;
    background-color:  transparent;
    border-radius:  3px;
    font-size:  11px;
    margin:  0;
}
.breadcrumbs>li {
    display: inline-block;
}
.breadcrumbs a,

.breadcrumbs a:visited  {
    color:  #D8D8D8
}

.breadcrumbs a:hover  {
    color:  #0690fa
}

.breadcrumbs .active  {
    font-weight:  normal
}

.breadcrumbs .active a  {
    color:  #D8D8D8
}

.breadcrumbs .active a:hover  {
    color:  #0690fa
}
.breadcrumbs>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}
#service-header {
    margin: 50px 0;
}
#service-name a {
    color: #000;
}
#service-title {
    font-size: 18px;
    color: #666;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 5px;
}

#service-features {
    margin-left: 5px;
    margin-bottom: 20px;
    color: #333;
    padding: 10px;
    font-size: 11pt;
}
.btn-ss-g-alt {
    color: #fff !important;
    background-color: #CCC;
    border-color: #CCC;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.div-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-ss-alt {
    color: #fff !important;
    background-color: #0690fa;
    border-color: #0690fa;
}
.btn-ss-alt:hover, .btn-ss-alt:focus {
    background-color: #0690fa !important;
    border: 1px solid #0891fa !important;
    border-top-color: #0891fa !important;
    border-bottom-color: #0891fa !important;
    box-shadow: 0 1px 1px rgba(59, 60, 61, 0.2), 0 1px #0891fa inset, 0 0 9px rgba(0, 173, 255, 0.6);
}
.btn-ss-alt:active, .btn-ss-alt.active {
    background-image: none;
}

#service-pills-nav {
    display: flex;
    padding-top: 10px;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
#service-pills-nav.internal-service ul.nav.nav-pills {
    text-align: center;
    width: 100%;
}
#service-pills-nav ul.nav.nav-pills {
    text-align: center;

}
.nav>li {
    position: relative;
    display: block;
}
.nav-pills>li {
    float: left;
}
#service-pills-nav .nav>li>a, #service-pills-nav .nav>li>a:visited {
    color: grey;
    font-size: 16px;
}
#service-pills-nav .nav-pills>li.active>a, #service-pills-nav .nav-pills>li.active>a:hover, #service-pills-nav .nav-pills>li.active>a:focus {
    background-color: transparent;
    border-bottom: 5px solid #0690fa;
    border-radius: 0;
    height: 48px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    transition: all .15s ease-in-out;
    color: #0690fa !important;
    font-size: 16px;
}
#service-pills-nav .nav>li>a:hover, #service-pills-nav .nav>li>a:focus {
    color: #0690fa !important;
    background-color: transparent;
}
.reason-count {
    color: #0690fa;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: 600;
    display: inline-block;
    text-align: right;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

#reasons-list input[type="checkbox"]+span:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13pt;
    padding: 0px 4px 0px 4px;
    border: 1px solid #0690fa;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    margin-right: 2px;
    margin-left: 7px;
}

#reasons-list input[type="checkbox"]:checked+span:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13pt;
    padding: 0px 4px 0px 4px;
    border: 1px solid #0690fa;
    border-radius: 4px;
    display: inline-block;
    background-color: #0690fa;
    color: white;
    margin-right: 2px;
}

#reasons-list input[type="checkbox"] {
    display: none;
    margin-top: 10px;
}

.btn-ss {
    color: #0690fa !important;
    background-color: transparent;
    border-color: #0690fa;
    padding: 6px 12px;
}
.btn-ss:hover, .btn-ss:focus, .btn-ss:active, .btn-ss.active {
    color: white !important;
    background-color: #0690fa !important;
    border-color: #0690fa !important;
}

/*Right side bar (Affix)*/

.page-container-sp {
    background-color: #fff;
    margin: 30px 0px 80px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: .11em solid #DDDDDD;
}
#sp-sidebar.affix {
    margin-bottom: 40px;
    top: 0;
}

.section-title-2 {
    text-align: center;
    font-size: 11px;
    margin-bottom: 4px;
    color: #bbbbbb;
    font-weight: 600;
    text-transform: uppercase;
}

.service-stack-link a, .service-stack-link a:visited {
    color: #cbcbcb !important;
}

.stack-navigator {
    margin: 10px 20px 0 20px;
}


.show-layer {
    border: none;
    padding: 0px 15px 10px 15px;
    border-radius: 4px;
    max-width: 823px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #333 !important;
}
.stack-navigator .show-layer {
    background-color: transparent;
    padding: 0px 0 2px 0;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: transparent !important;
}

.stack-navigator .current-layer {
    background-color: transparent;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    background-color: transparent !important;
}


.stack-navigator .stack-layer-title {
    color: grey !important;
    font-weight: 500;
    font-size: 10px;
    margin-bottom: 0;
}
.stack-navigator .show-layer .stack-layer-title-tag, .stack-navigator .show-layer .stack-layer-title-tag a {
    border: 0px solid grey !important;
    padding: 0;
    display: block;
    margin: 0;
    background-color: #333 !important;
    color: grey;
    text-align: center;
    border-radius: 4px;
}

.stack-navigator .current-layer .stack-layer-title-tag, .stack-navigator .current-layer .stack-layer-title-tag a {
    border: 0px solid #999999 !important;
    padding: 0;
    display: block;
    margin: 0;
    background-color: #000 !important;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}
.current-category {
    padding: 0 20px;
}

.current-category a, .current-category a:visited {
    padding: 1px;
    text-align: center;
    font-size: 10px;
    border-radius: 4px;
    border: 1px solid #333;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7px;
    display: block;
    background-color: transparent !important;
    color: #333;
    font-weight: 500;
}
.octicon, .mega-octicon {
    font: normal normal normal 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.service-stack-link a:hover {
    color: #0690fa !important;
}

.octicon-star:hover {
    color: #0690fa !important;
}

.comment-author {
    position: relative;
    z-index: 5;
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.comment-author {
    font-weight: bold;
    margin-bottom: 3px;
}
a {
    color: #000;
}


.similar-services-items .stack-logo img {
    width: 45px;
    height: 45px;
}

.stack-logo img {
    width: 45px;
    height: 45px;
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
}

.stack-logo a:hover {
    border-radius: 5px;
}
.stack-logo a {
    display: block;
    overflow: hidden;
}

.similar-services-items {
    margin-top: 5px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 6pt;
    line-height: 18px;
    text-align: center;
}

.current-category a:hover {
    background-color: #000 !important;
    color: #FFF !important;
    border: 1px solid #000;
}

#service-description {
    font-size: 11pt;
    line-height: 15pt;
    font-weight: 400;
    color: #333;
}

#reasons {
    margin-top: 20px;
}
.review-author-img {
    position: relative;
    z-index: 5;
    display: block;
    width: 63px;
    height: 63px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #E6E6E6;
}
#fans .fans {
    padding: 0 2px;
}
#fans .fans a {
    display: block;
    overflow: hidden;
}

.review-author-gh {
    z-index: 6;
    position: relative;
    top: -27px;
    left: 44px;
}
.stack-desc-author {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    z-index: 6;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    position: relative;
}
.review-title {
    font-weight: bold;
    font-size: 19px;
    margin-top: 18px;
    margin-bottom: 8px;
}
#reviews-container li {
    border-left: 5px solid #EAEAEA;
    border-bottom: 0;
}
#review-author {
    padding-left: 35px;
}
#review {
    padding: 0px;
    margin-bottom: 60px;
}
#review-comments {
    margin-left: 40px;
}
.created {
    color: #CECECE;
    font-size: 10px;
}
#review-edit {
    margin-bottom: 0px;
}
#review-edit a:hover {
    color: #0690fa !important;
    text-decoration: underline;
}

#structured-review-label {
    color: grey;
}

.structured-review-wrapper .fa-terminal {
    font-size: 13pt;
    font-weight: bold;
    color: grey;
}
.structured-review-wrapper .fa-thumbs-up, .structured-review-wrapper .fa-circle-o {
    font-size: 13pt;
    color: #333;
    padding: 0 3px;
}

.structured-review-wrapper .fa-file, .structured-review-wrapper .fa-power-off, .structured-review-wrapper .fa-phone {
    font-size: 12pt;
    color: grey;
}
.structured-review-wrapper {
    padding: 7px 0 5px 0;
    margin: 20px 0 20px 0;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    text-align: center;
    color: #333;
}
.stack-list-container {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 5px 10px;
}

.similar-service-logos img {
    width: 35px;
    height: 35px;
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.similar-service-logos .col-md-3,.similar-service-logos .col-sm-3,.similar-service-logos .col-xs-3 {
    padding: 0 3px;
}
/* Eosystem
*/
.ecosystem {
    font-size: 14px;
    line-height:1.428571429;
}
.ecosystem .tab-content .tab-pane {
    border: 0;
}
.ecosystem .icon {
    color: #ff5200;
    font-size: 43px;
}

.list-container {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 0px 10px;
}

#card-list :hover {
    color: #0690fa;
}

#card-list .points {
    color: orange;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#card-list .rank {
    color: orange;
    border-bottom-right-radius: 5px;
    border: 1px solid #e8e8e8;
    border-width: 0 1px 1px 0px;
    margin-left: 5px;
    max-width: 45px;
    text-align: center;
    overflow: hidden;
    font-size: 13px;
    top: 0px;
    position: relative;
    float: left;
    padding-right: 28px;
}

.sponsor-ribbon-wrapper {
    width: 84px;
    height: 78px;
    overflow: hidden;
    top: -47px;
    left: 5px;
    margin: 47px auto;
    border-radius: 10px;
    position: absolute;
    z-index: 90;
}

.sponsor-ribbon {
    font-size: 9px;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 4px 0;
    right: 36px;
    top: 12px;
    width: 116px;
    background-color: #ffcb00;
    color: white !important;
}

.score-card-trending {
    border-bottom-left-radius: 5px;
    border: 1px solid #e8e8e8;
    border-width: 0 0 1px 1px;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    max-width: 120px;
    height: 40px;
    overflow: hidden;
    font-weight: bold;
    padding: 4px 15px 15px 14px;
}

.service-logo img {
    display: block;
    position: relative;
    z-index: 5;
    display: block;
    width: 73px;
    height: 73px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.stack-logo {
    display: inline-block;
    margin-bottom: 10px;
    z-index: 1;
}

.stack-navigator .show-layer .stack-layer-title-tag a, .stack-navigator .show-layer .stack-layer-title-tag a a {
    border: 2px solid #333 !important;
}

/*
 Some common classes
*/
.margin-top-30 {
    margin-top: 30px;
}
.companies .list-group-item:first-child,
.companies .list-group-item:last-child{
    border-radius: 0;
}
.companies .list-group-item {
    background-color: #fcfcfc;
}
.companies .left-menu {
    padding: 0;
}
.companies .badge {
    background-color: #eee;
    border-radius: 2px;
    -webkit-box-shadow: #fff 0 0 1px;
    box-shadow: #fff 0 0 1px;
    color: #999;
    float: right;
    padding: 0 5px;
    margin-right: -4px;
    font-weight: 300;
    font-size: inherit;
    text-shadow: 0 0 #FFF;
    border-radius: 0;
}
.companies .table > thead > tr > td,
.companies .table > tbody > tr > td {
    border: none;
}
.companies .table > tbody > tr > td {
    border-top: 1px solid #eee;
}
.companies .table > thead > tr {
    background-color: #f8f9fa;
    font-size: 14px;
    font-weight: 300;
    color: #666;

}
.companies .table > tbody > tr {
    background: #fff;
}
.companies .table tr > td:nth-child(2) {
    background: #F2F3Fc;
    text-align: center;
}
.companies .table tr > td:not(:first-child){
    width: 93px;
    max-width: 93px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
}
.companies .table .photo {
    -webkit-box-shadow: rgba(0,0,0,.05) 0 1px 4px;
    box-shadow: rgba(0,0,0,.05) 0 1px 4px;
    width: 37px;
    height: 37px;
    line-height: 35px;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #e9eaec;
    border-left: 1px solid #e9eaec;
    border-top: 1px solid #F7F8F9;
    margin-right: 12px;
    float: left;
}

.companies .table .photo img {
    max-height: 37px;
    max-width: 37px;
    min-height: inherit;
    width: 100%;
    border: none;
    padding: 0;
}

.companies .table .photo+.text {
    margin-left: 49px;
    width: 100%;
}
.companies .table .name a {
    font-weight: 700;
    color: #333;
}
.companies .table tr> td a:hover {
    color:black;
    text-decoration: underline;
}

.companies .table .pitch {
    width: 195px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    overflow: hidden;
    color: #666;
    font-weight: 300;
}
