@media (min-width: 992px) {
    #service-name {
        font-weight: bold;
        line-height: 1.1;
        font-size: 36px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .section-title {
        font-size: 13px;
        color: #bbbbbb;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    /*Affix side bar*/

    #sp-sidebar .trending-star, #stp-sidebar .trending-star {
        font-size: 25px !important;
        padding-top: 3px;
        cursor: pointer;
    }

    #sp-sidebar-mobile {
        display: none;
    }

    #service-urls {
        margin-top: 10px;
        float: right;
        width: 278px;
        height: 27px;
    }

    #service-urls a {
        color: #C2C2C2;
        margin: 5px 10px 5px 10px;
        font-weight: 200;
    }

    #service-urls a:hover {
        color: #333 !important;
    }
    .fans img {
        text-align: center;
        height: 70px;
        width: 70px;
        display: inherit;
    }

    #fans .fa-github {
        position: absolute;
        z-index: 5;
        top: 52px;
        right: 7px;
        border-radius: 2px;
        background-color: black;
        color: white;
        padding: 2px;
        font-size: 11px;
    }

    #service-name-card {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 3px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #service-title-card {
        color: grey;
        font-size: 12px;
        height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 18px;
    }

    #trending-header {
        margin: 45px 0;
        text-align: center;
    }

    .trending-title {
        font-size: 40px;
        font-weight: bold;
        color: black;
    }

    #trending-sub-header {
        font-size: 13px;
        font-weight: 200;
        color: #C5C5C5;
        text-align: center;
        margin-top: 20px;
    }

    #service-name-card {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 3px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color:black;
    }

    #stack-col-fix {
        padding-top: 12px;
        padding-left: 5px;
        text-align: left;
    }

    .list-container .score-card-trending {
        top: 0px;
        position: relative;
        max-width: 90px;
        height: 31px;
        float: right;
    }

    .list-container .score-card-trending {
        top: 0px;
        position: relative;
        max-width: 90px;
        height: 31px;
        float: right;
    }

    .trending-star {
        font-size: 17px !important;
        padding-top: 3px;
        cursor: pointer;
        color: black;
    }

    #new-col-fix {
        padding-top: 12px;
        text-align: left;
    }
    .show-layer {
        width: 150px;
    }

}

@media (max-width: 767px) {
    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        background-color: whitesmoke;
        border-radius: 4px;
    }
    .breadcrumb>li {
        display: inline-block;
    }
    .breadcrumb>li+li:before {
        content: "/\00a0";
        padding: 0 5px;
        color: #cccccc;
    }
    .breadcrumb>.active {
        color: #999999;
    }
}

@media (min-width: 1201px) {
    .reason_item, .reason_item label {
        width: 328px;
        font-size: 14px;
        font-weight: 500;
        margin: 6px 0 7px 0;
    }

    #reason-text {
        width: 212px;
        float: right;
        z-index: 5000;
        margin-top: 3px;
        font-weight: 600;
    }
}

